<form class="form-signin" method="POST" action="?pagina=entrar">
    <img class="mb-4" src="../../assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
    <h1 class="h3 mb-3 font-weight-normal">Faça login</h1>
    <label for="inputEmail" class="sr-only">Endereço de email</label>
    <input type="email" id="inputEmail" name="inputEmail" class="form-control" placeholder="Seu email" required autofocus>
    <label for="inputPassword"  class="sr-only">Senha</label>
    <input type="password" id="inputPassword" name="inputPassword" class="form-control" placeholder="Senha" required>
    <button class="btn btn-lg btn-primary btn-block" name="entrar" type="submit">Entrar</button>
    <p class="mt-5 mb-3 text-muted">Leonardo Mazza - &copy; 2020</p>
  </form>
